*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    color: #333;
    font-weight: 300;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
    display: inline;
}
ul{
    padding: 0;
}