#about{
    padding: 1rem 1rem;;
}
.grid-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;    
}
.about-content{
    padding: 1rem 0.5rem;;
    &-heading{
        font-family: serif;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 0.5px;
    }
    &-text{
        font-family: 'Raleway', sans-serif;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 1.5;
        word-spacing: 0.75px;
    }
    &-skills{
        &-heading{
            padding: 1rem 0;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: serif;
        }
        &-bg{
            background: #aaa;
            height: 2.5rem;
            &-overlay{
                color: $white;
                font-weight: 200;
                line-height: 2.5rem;
                height: 2.5rem;
                width: 95%;
                background: $grey;
            }
        }
        &-text{
            padding-bottom: 1rem;
        }
        &-btn{
            padding: 1rem 2rem;
            margin: 2rem 0;
        }
    }
}
.about-charges{
    padding-left: 0.5rem;    
    &-heading{
        font-weight: 500;
        font-size: 1.2rem;
        font-family: serif;
        padding-bottom: 0;
    }
    li{
        display: block;
    }
    &-grid{
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        &-child{
            border: 1px solid #CCC;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
            &-header{
                font-size: 1.5rem;
                font-weight:lighter;
                padding: 2rem;
            }
            &-items{
                background-color: $white;
                padding: 1rem;
                border-bottom: 0.1px solid #ccc;
                &-num{
                    font-size: 1.5rem;
                }
                &-last{
                    padding: 2rem;
                    background-color: #f2f2f2;
                }
            }
        }
    }
    
}