.btn{
    display: inline-block;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.75rem;
    
    @mixin smallScreen{
        font-size: 0.915rem;
    }
    @mixin mediumScreen{
        padding: 0.75rem 1rem;
    }

    &-white{
        background-color: $white;
        color: $darkGrey;
        &:hover{
            background-color: $darkGrey;
            color: $white;
        }
    }
    &-grey{
        background-color: $grey;
        color: $white;
        &:hover{
            background-color: #AAA;
            color: $darkGrey;
        }    
    }
    &-teal{
        padding: 1rem 1.5rem;;
        background-color: $teal;
        color: $white;
        &:hover{
            background-color: $darkGrey;
        }
    }
     &-black{
        background-color: #111;
        color: $white;
        padding: 1rem 3rem;
        &:hover{
            background-color: $grey;
            color: $white;
        }    
    }
}