#contact{
    padding: 1rem;;
}
.contact{
    &-heading{
        font-family: serif;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem;
    }
    &-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &-item{
            padding: 1.5rem;
            line-height: 1.5rem;
            opacity: 0.6;        
        }
    }
    &-hr{
        margin:  2.3rem 0;
    }
    &-form{
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        label{
            display: block;
            font-weight: 100;
            color: #333;
            margin-bottom: 0.3rem;
        }
        input{
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            border-color: transparent;
            height: 2.5rem;
        }
    }
    
}