.header{
    padding: 0 1rem;
    margin: 0 1rem;
    padding-bottom: .5rem;
    border-bottom: 7px solid #bbb;
    
    &-heading{
        font-size: 2.5rem;
        font-weight: 600;
        font-family: 'Lato',serif;
        letter-spacing: 1px;
    }
    &-list{
        &-text{
            padding-left: 0;
            padding-right: 1rem;
        }
   
    }
}