.section{
    padding: 0rem;
    
    &-bg-light{
        background-color: $lightGrey;
        color: $darkGrey;
    }
    &-bg-teal{
        background-color: $teal;
        color: $white;
    }
    &-bg-grey{
        background-color: #AAA;
    }
    &-bg-dark{
        background-color: #777;
        color: $white;
    }
    &-bg-black{
        background-color: #111;
        color: $white;
    }
    
}

.text-center{
    text-align:center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

.d-block{
    display: block;
}
.p-t-1{
    padding-top: 1rem;
}