.grid-portfolio{
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    
    &-item{
        background: $white;
        &-img:hover{
            opacity: 0.6;
        }
        &-content{
            padding: 0 1rem;
            &-heading{
                font-size: 1rem;
                font-family: 'Lato', serif;
                font-weight: 600;
            }
            &-text{
                font-size: 0.9rem;
                font-weight: 100;
                opacity: 0.8;
                letter-spacing: 0.5px;
                word-spacing: 2px;
            }
            
        }
    }
}
.portfolio-footer{
    padding: 1rem 0;
    &-list{
        padding: 1rem 0;
        &-item{
            font-size: 0.75rem;
            color: $darkGrey;
            padding: 0.75rem 0.75rem;
        }
        &-item:hover{
            background: $darkGrey;
            color: $white;
        }
    }
}