.sidebar{
    &-wrapper{
        position: sticky;
        left: 0;
        top: 0rem;
    }
    &-img{
        border-radius: 20%;
        width: 9rem;
        height: 10rem;
        padding: 1rem 1rem;
    }
    &-heading{
        padding: 0rem 1rem;
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: -1px;
    }
    &-lead{
        padding: 0rem 1rem;
        opacity: 0.6;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
    }
    &-list{

            &-items{
                display:block;
                padding: 1rem 5rem;
                color: $darkGrey;
            }
        
            a:hover{
                background: $lightGrey;
            }
            a:active,a:focus,a:focus-within{
                color: $teal;         
                background: $lightGrey;
            }
    }
    &-icon{
        padding: 1rem;
        &-items{
            display: inline-block;
            padding: 0.2rem 0.5rem 0 0;
            a{
                color: #000;
            }
            a:hover{
                color: $grey;
            }
        }
        
        
    }
}